<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Weeding | Jayesh Tele</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <Main class="wrapper">

    <Header class="weeding border-bottom">
      <figure>
        <img src="https://template-html.egprojets.com/weeding/assets/images/header/logo.png" alt="..."
          class="img-fluid">
      </figure>
    </Header>
    <nav class="navbar navbar-expand-lg navbar-light pt-4 pb-4">
      <div class="container-fluid">
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent">
          <a href="#"><i class="fas fa-bars"></i></a>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link text-dark ms-3 me-3" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark ms-3 me-3" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark ms-3 me-3" href="#">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark ms-3 me-3" href="#">Love Story</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark ms-3 me-3" href="#">Family</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark ms-3 me-3" href="#">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark ms-3 me-3" href="#">Gift</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark ms-3 me-3" href="#">Rsvp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark ms-3 me-3" href="#">Pages</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="hero-section">

      <div class="contain">
        <img src="https://template-html.egprojets.com/weeding/assets/images/header/flogo.png" alt="..."
          class="img-fluid">

        <div class="white"></div>
        <h1>We Are Getting Married</h1>
        <div class="white"></div>
        <h3>Save The Date</h3>
        <p>20 December 2018</p>
      </div>
    </section>

    <section class="wait text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-12 col-md-12">
            <section class="time col-lg-11 mt-5">
              <h1>We Are Waiting For...</h1>
              <h1>Precious Time</h1>
            </section>
          </div>
          <div class="col-lg-2 col-12 col-sm-6 col-md-3">
            <section class="duration col-lg-11">
              <h1>-639</h1>
              <h2>Days</h2>
            </section>
          </div>
          <div class="col-lg-2 col-12 col-sm-6 col-md-3">
            <section class="duration col-lg-11">
              <h1>-4</h1>
              <h2>Hours</h2>
            </section>
          </div>
          <div class="col-lg-2 col-12 col-sm-6 col-md-3">
            <section class="duration col-lg-11">
              <h1>40</h1>
              <h2>Minutes</h2>
            </section>
          </div>
          <div class="col-lg-2 col-12 col-sm-6 col-md-3">
            <section class="duration col-lg-11">
              <h1>32</h1>
              <h2>Seconds</h2>
            </section>
          </div>
        </div>
      </div>
    </section>

    <section class="groom">
      <div class="container">
        <section class="bride">
          <h1>Groom And Bride</h1>
          <img src="https://template-html.egprojets.com/weeding/assets/images/content/heading.png" alt="">
        </section>
        <div class="row mt-5">
          <figure class="about col-md-5 col-lg-4 col-xl-3 col-12">
            <img src="https://template-html.egprojets.com/weeding/assets/images/content/groom.png" alt="">
          </figure>
          <section class="atish col-md-7 col-lg-8 col-xl-9 col-12 mt-5">
            <h1>About The Groom</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, vel. Odio, ex ut veritatis reprehenderit
              in <br> facilis nobis! Ratione eos sint eligendi exercitationem consequatur, distinctio molestias minima,
              assumenda nulla autem !</p>
            <div class="row">
              <h2 class="col-4 col-sm-3">~ Atish</h2>
              <div class="icon col-8 col-sm-9 mt-2">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </section>
        </div>
        <div class="row mt-5">
          <section class="atish jhoya col-md-7 col-lg-8 col-xl-9 col-12 mt-5">
            <h1>About The Bride</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, vel. Odio, ex ut veritatis reprehenderit
              in <br> facilis nobis! Ratione eos sint eligendi exercitationem consequatur, distinctio molestias minima,
              assumenda nulla autem !</p>
            <div class="row">
              <div class="icon col-8 col-sm-9 mt-2">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
              <h2 class="col-4 col-sm-3">~ Jhoya</h2>
            </div>
          </section>
          <figure class="about col-md-5 col-lg-4 col-xl-3 col-12">
            <img src="https://template-html.egprojets.com/weeding/assets/images/content/bride.png" alt="...">
          </figure>
        </div>
      </div>
    </section>

    <section class="kissing">
      <div class="dec">
        <div class="pink"></div>
        <h1>Wedding Invitation</h1>
        <div class="white"></div>
        <h1 class="pk">20 December 2018</h1>
        <h3>@ 7:30 pm</h3>
        <div class="white"></div>
        <h4>St. Thomas's Church,<br>
          London, U.K.</h4>
        <p class="mt-4">This is Photoshop's version of Lorem Ipsum. Proin <br> gravida nibh vel velit auctor aliquet.
          Aenean <br>
          sollicitudin, lorem quis bibendum</p>
        <button class="btn">
          RSVP
        </button>
      </div>
    </section>


    <section class="story">
      <div class="container">
        <section class="bride">
          <h1>Our True Love Story</h1>
          <img src="https://template-html.egprojets.com/weeding/assets/images/content/heading.png" alt="">
        </section>
        <div class="row">
          <div class="first col-lg-4 col-12 col-sm-6">
            <img src="https://template-html.egprojets.com/weeding/assets/images/content/story_1.jpg" alt=""
              class="col-12">
            <h6 class="mt-3">20 DECEMBER 2017</h6>
            <h2>Our First Met</h2>
            <h6>THAT DAY CHANGED LIFE</h6>
            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
              sollicitudin, lorem quis bibendum auctor...</p>
          </div>
          <div class="first col-lg-4 col-12 col-sm-6">
            <img src="https://template-html.egprojets.com/weeding/assets/images/content/story_2.jpg" alt=""
              class="col-12">
            <h6 class="mt-3">20 DECEMBER 2017</h6>
            <h2>Our First Dating</h2>
            <h6>THAT DAY CHANGED LIFE</h6>
            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
              sollicitudin, lorem quis bibendum auctor...</p>
          </div>
          <div class="first col-lg-4 col-12 col-sm-6">
            <img src="https://template-html.egprojets.com/weeding/assets/images/content/story_3.jpg" alt=""
              class="col-12">
            <h6 class="mt-3">20 DECEMBER 2017</h6>
            <h2>How He Proposed</h2>
            <h6>THAT DAY CHANGED LIFE</h6>
            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
              sollicitudin, lorem quis bibendum auctor...</p>
          </div>
          <div class="first col-lg-4 col-12 col-sm-6">
            <img src="https://template-html.egprojets.com/weeding/assets/images/content/story_4.jpg" alt=""
              class="col-12">
            <h6 class="mt-3">20 DECEMBER 2017</h6>
            <h2>Our First Kiss</h2>
            <h6>THAT DAY CHANGED LIFE</h6>
            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
              sollicitudin, lorem quis bibendum auctor...</p>
          </div>
          <div class="first col-lg-4 col-12 col-sm-6">
            <img src="https://template-html.egprojets.com/weeding/assets/images/content/story_1.jpg" alt=""
              class="col-12">
            <h6 class="mt-3">20 DECEMBER 2017</h6>
            <h2>Now We Together</h2>
            <h6>THAT DAY CHANGED LIFE</h6>
            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
              sollicitudin, lorem quis bibendum auctor...</p>
          </div>
          <div class="first col-lg-4 col-12 col-sm-6">
            <img src="https://template-html.egprojets.com/weeding/assets/images/content/story_5.jpg" alt=""
              class="col-12">
            <h6 class="mt-3">20 DECEMBER 2017</h6>
            <h2>Now We Together</h2>
            <h6>THAT DAY CHANGED LIFE</h6>
            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
              sollicitudin, lorem quis bibendum auctor...</p>
          </div>
        </div>
      </div>
    </section>


    <section class="couple">
      <div class="icon">
        <img src="https://template-html.egprojets.com/weeding/assets/images/content/heart.png" alt="">
        <h3 class="mt-5 mb-3">" Better to have loved and lost, than to have never loved</h3>
        <h5>~ James S (A True Friend)</h5>
      </div>
    </section>


    <section class="register">
      <div class="container">
        <section class="bride">
          <h1>Gift Registration</h1>
          <img src="https://template-html.egprojets.com/weeding/assets/images/content/heading.png" alt="">
        </section>
        <p class="mt-4">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
          sollicitudin,
          lorem quis bibendum <br> auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
          amet
          nibh vulputate cursus a sit amet mauris. Morbi <br>accumsan ipsum velit. Nam nec tellus a odio tincidunt.</p>
        <div class="row">
          <figure class="narrow col-md-6 col-lg-4 col-12">
            <div class="col-11  mx-auto mt-3">
              <img src="https://template-html.egprojets.com/weeding/assets/images/content/gft_1.png" alt=""
                class="col-12">
            </div>
          </figure>
          <figure class="narrow col-md-6 col-lg-4 col-12">
            <div class="col-11  mx-auto mt-3">
              <img src="https://template-html.egprojets.com/weeding/assets/images/content/gft_3.png" alt=""
                class="col-12">
            </div>
          </figure>
          <figure class="narrow col-md-6 col-lg-4 col-12">
            <div class="col-11  mx-auto mt-3">
              <img src="https://template-html.egprojets.com/weeding/assets/images/content/gft_5.png" alt=""
                class="col-12">
            </div>
          </figure>
          <figure class="narrow col-md-6 col-lg-4 col-12">
            <div class="col-11  mx-auto mt-3">
              <img src="https://template-html.egprojets.com/weeding/assets/images/content/gft_2.png" alt=""
                class="col-12">
            </div>
          </figure>
          <figure class="narrow col-md-6 col-lg-4 col-12">
            <div class="col-11  mx-auto mt-3">
              <img src="https://template-html.egprojets.com/weeding/assets/images/content/gft_4.png" alt=""
                class="col-12">
            </div>
          </figure>
          <figure class="narrow col-md-6 col-lg-4 col-12">
            <div class="col-11 mx-auto mt-3">
              <img src="https://template-html.egprojets.com/weeding/assets/images/content/gft_6.png" alt=""
                class="col-12">
            </div>
          </figure>
        </div>
    </section>

    <section class="gallery">
      <div class="container-fluid">
        <section class="bride">
          <h1>Our True Love Story</h1>
          <img src="https://template-html.egprojets.com/weeding/assets/images/content/heading.png" alt="">
        </section>
        <div class="row mt-5">
          <figure class="col-lg-3">
            <img src="https://template-html.egprojets.com/weeding/assets/images/content/image_small_1.jpg" alt=""
              class="col-12">
            <img src="https://template-html.egprojets.com/weeding/assets/images/content/image_small_2.jpg" alt=""
              class="col-12">
          </figure>
          <figure class="col-lg-3">
            <img src="https://template-html.egprojets.com/weeding/assets/images/content/image_1.jpg" alt=""
              class="col-12">
          </figure>
          <figure class="col-lg-3">
            <img src="https://template-html.egprojets.com/weeding/assets/images/content/image_2.jpg" alt=""
              class="col-12">
          </figure>
          <figure class="col-lg-3">
            <img src="https://template-html.egprojets.com/weeding/assets/images/content/image_small_3.jpg" alt=""
              class="col-12">
            <img src="https://template-html.egprojets.com/weeding/assets/images/content/image_small_4.jpg" alt=""
              class="col-12">
          </figure>
          <figure class="col-lg-3">
            <img src="https://template-html.egprojets.com/weeding/assets/images/content/image_small_5.jpg" alt=""
              class="col-12">
          </figure>
          <figure class="col-lg-3">
            <img src="https://template-html.egprojets.com/weeding/assets/images/content/image_small_6.jpg" alt=""
              class="col-12">
          </figure>
          <figure class="col-lg-3">
            <img src="https://template-html.egprojets.com/weeding/assets/images/content/image_small_7.jpg" alt=""
              class="col-12">
          </figure>
          <figure class="col-lg-3">
            <img src="https://template-html.egprojets.com/weeding/assets/images/content/image_small_8.jpg" alt=""
              class="col-12">
          </figure>
        </div>
      </div>
    </section>

    <section class="here">
      <div class="attend">
        <div class="one container">
          <div class="you">
            <h3>Rsvp Here!</h3>
            <h4>Are You Attending?</h4>
          </div>
          <div class="label col-9 mx-auto">
            <label for="full" class="col-12 mt-4 mb-1">Full Name :</label>
            <input type="text" id="full" class="col-12">
            <label for="mail" class="col-12 mt-4 mb-1">Email :</label>
            <input type="text" id="mail" class="col-12">
            <div class="row">
              <div class="col-12 col-sm-6">
                <label for="full" class="col-6 mt-4 mb-1">Guests :</label>
                <div class="select col-12">
                  <select class="form-select">
                    <option selected>Number of Guests</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <label for="full" class="col-5 mt-4 mb-1">Events :</label>
                <div class="select col-12">
                  <select class="form-select">
                    <option selected>Select Events</option>
                    <option value="1">All Events</option>
                    <option value="2">Party Events</option>
                    <option value="3">Marraige Events</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <button class="btn mx-auto mt-4">
            I AM ATTENDING
          </button>
        </div>
      </div>
    </section>


    <section class="surprice">
      <div class="container">
        <section class="bride">
          <h1>From Our Blog</h1>
          <img src="https://template-html.egprojets.com/weeding/assets/images/content/heading.png" alt="">
        </section>
        <div class="row">
          <div class="suit col-lg-4 col-12">
            <div class="suit-1 mt-5">
              <img src="https://template-html.egprojets.com/weeding/assets/images/content/blog1.jpg" alt=""
                class="col-12">
              <h3 class="mt-3">Planning Honeymoon Trip</h3>
              <h6><i class="far fa-calendar-alt"></i> 20 December 2017<i class="fas fa-heart"></i>143 Likes</h6>
              <p class="mt-3">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
                sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit..</p>
              <button class="btn">
                READ MORE
              </button>
            </div>
            <div class="suit-1 mt-5">
              <img src="https://template-html.egprojets.com/weeding/assets/images/content/blog2.jpg" alt=""
                class="col-12">
              <h3 class="mt-3">Planning Honeymoon Trip</h3>
              <h6><i class="far fa-calendar-alt"></i> 20 December 2017<i class="fas fa-heart"></i>143 Likes</h6>
              <p class="mt-3">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
                sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit..</p>
              <button class="btn">
                READ MORE
              </button>
            </div>
          </div>
          <div class="suit col-lg-4 col-12">
            <div class="suit-1 mt-5">
              <img src="https://template-html.egprojets.com/weeding/assets/images/content/blog3.jpg" alt=""
                class="col-12">
              <h3 class="mt-3">Surprises For Guests</h3>
              <h6><i class="far fa-calendar-alt"></i> 20 December 2017<i class="fas fa-heart"></i>143 Likes</h6>
              <p class="mt-3">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
                sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit..</p>
              <button class="btn">
                READ MORE
              </button>
            </div>
            <div class="suit-1 mt-5">
              <img src="https://template-html.egprojets.com/weeding/assets/images/content/blog4.jpg" alt=""
                class="col-12">
              <h3 class="mt-3">Surprises For Guests</h3>
              <h6><i class="far fa-calendar-alt"></i> 20 December 2017<i class="fas fa-heart"></i>143 Likes</h6>
              <p class="mt-3">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
                sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit..</p>
              <button class="btn">
                READ MORE
              </button>
            </div>
          </div>
          <div class="suit col-lg-4 col-12">
            <div class="suit-1 mt-5">
              <img src="https://template-html.egprojets.com/weeding/assets/images/content/blog5.jpg" alt=""
                class="col-12">
              <h3 class="mt-3">Bachelor Party!</h3>
              <h6><i class="far fa-calendar-alt"></i> 20 December 2017<i class="fas fa-heart"></i>143 Likes</h6>
              <p class="mt-3">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
                sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit..</p>
              <button class="btn">
                READ MORE
              </button>
            </div>
            <div class="suit-1 mt-5">
              <img src="https://template-html.egprojets.com/weeding/assets/images/content/blog6.jpg" alt=""
                class="col-12">
              <h3 class="mt-3">Bachelor Party!</h3>
              <h6><i class="far fa-calendar-alt"></i> 20 December 2017<i class="fas fa-heart"></i>143 Likes</h6>
              <p class="mt-3">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
                sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit..</p>
              <button class="btn">
                READ MORE
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer>
      <div class="forever">
        <img src="https://template-html.egprojets.com/weeding/assets/images/header/logo_ftr.png" alt=""
          class="img-fluid">
        <h1>Forever And Always Our Love <br>
          Thank You</h1>
        <img src="https://template-html.egprojets.com/weeding/assets/images/content/heading.png" alt=""
          class="img-fluid">
        <p>@ Copyright 2018 All Rights Reserved.</p>
      </div>
    </footer>
  </Main>










  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
</body>

</html>