@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

:root {
    font-size: 16px;
    --poppins: 'Poppins', sans-serif
}

.wrapper {
    font-family: var(--poppins)
}

.gray {
    background: #303338
}

.dropdown-menu {
    background: #ee3131
}

.dropdown-menu a {
    color: #fff
}

.circle a {
    border: 1px solid #cf0000;
    background: #cf0000;
    padding: 9px 15px;
    color: #fff;
    font-size: 1.5em
}

.circle .cog {
    background: bisque;
    color: #303338;
    border: #fff;
    position: fixed;
    top: 200px;
    left: 10px;
    border-radius: 50px
}

.headphones {
    position: fixed;
    top: 500px;
    left: 10px;
    border-radius: 50px
}

.share {
    position: fixed;
    top: 580px;
    left: 10px;
    border-radius: 50px
}

.shopping {
    position: fixed;
    top: 660px;
    left: 10px;
    border-radius: 50px
}

.img img {
    height: 100vh
}

.carousel-caption {
    text-align: left;
    margin-bottom: 250px
}

.carousel-caption h1 {
    font-size: 4em;
    font-weight: 700
}

.carousel-caption h1 div {
    width: 200px;
    height: 5px;
    background: #cf0000
}

.carousel-caption button {
    color: #fff;
    background: #ee3131;
    margin-right: 5px;
    border-radius: 50px
}

.carousel-caption button:hover {
    color: #fff;
    background: #303338
}

.red .dropdown button {
    border: 1px solid #ee3131;
    background: #fff;
    margin-bottom: 30px;
    border-radius: none;
    color: #000
}

.red {
    background: #ee3131;
    padding-bottom: 30px;
    margin-top: 50px
}

.red h6 {
    color: #fff
}

.div-1 {
    margin-bottom: 20px;
    height: 3px;
    background: #efa5a7
}

.div-2 {
    background: #efa5a7;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: 2px solid #fff;
    position: relative;
    bottom: 10px
}

.div-3 {
    background: #efa5a7;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: 2px solid #fff;
    position: relative;
    bottom: 37px
}

.welcome {
    background: url(https://autocare.dexignlab.com/xhtml/images/background/bg11.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    padding-bottom: 50px
}

.car,
.xcn {
    padding-top: 100px
}

.car h2 {
    font-weight: 700
}

.car h2 span {
    color: #cf0000
}

.car h5 {
    color: #333;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 1px
}

.car p {
    color: #888;
    padding-top: 30px
}

.all {
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 0 20px #ee3131;
    transition: .4s
}

.all:hover {
    background: #efa5a7;
    color: #fff
}

.free i {
    padding-bottom: 20px;
    color: #ee3131
}

.news i {
    padding-right: 5px
}

.news {
    background: #fff;
    padding-bottom: 20px
}

.news small {
    color: #888
}

.news p {
    padding-top: 20px;
    color: #303338;
    font-size: .9em
}

.news a {
    text-decoration: none;
    color: #ee3131
}

.news a i {
    padding-left: 10px
}

.news h3 {
    padding-top: 20px
}

.post {
    text-align: center
}

.post h2 {
    letter-spacing: 1px
}

.latest {
    background: linear-gradient(rgba(238, 49, 49, .8), rgba(238, 49, 49, .8)), url(https://autocare.dexignlab.com/xhtml/images/background/bg5.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    padding: 80px 0
}

.row .news {
    padding-left: 0;
    padding-right: 0
}

.news {
    margin-top: 30px
}

.v1 i {
    font-size: smaller
}

.recent {
    padding-bottom: 80px
}

.vehicle {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px
}

.vehicle p {
    color: #888
}

.v1 a {
    margin-top: 10px;
    padding: 15px;
    background: #ececec
}

.v1 img {
    margin-top: 10px
}

.gta {
    text-align: center
}

.dolar {
    display: flex;
    justify-content: center;
    align-items: center
}

.dolar ins {
    padding-left: 10px;
    font-size: 1.3em
}

.dolar del {
    color: #888
}

.gta {
    border: 2px solid #e6e6e6;
    border-radius: 0 0 20px 20px
}

.gta p {
    color: #888
}

.gta {
    padding: 0
}

.v1 i {
    float: right;
    margin-top: 6px
}

.test {
    text-align: center
}

.test small {
    color: #888
}

.student small {
    font-style: italic
}

.matin {
    text-align: center
}

.autocare {
    background: #212529;
    padding: 80px 0;
    color: #fff
}

.anchor a {
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 15px;
    transition: .6s
}

.anchor a:hover {
    background: #ee3131;
    border: 1px solid #ee3131
}

.w {
    width: 15px;
    height: 10px;
    background: #fff;
    clip-path: polygon(15% 0, 90% 0, 75% 100%, 0 100%)
}

.r {
    width: 150px;
    height: 5px;
    background: #ee3131;
    clip-path: polygon(2% 0, 77% 0, 75% 100%, 0 100%);
    margin-top: 3px
}

.arrow {
    padding-right: 15px
}

.auto small {
    margin-left: 0
}

.blog h6,
h5 {
    margin-bottom: 0
}

.grey {
    color: #fff;
    padding-top: 40px;
    background: #14191c;
    padding-bottom: 25px
}

.copyright a {
    color: #fff;
    text-decoration: none;
    transition: .6s
}

.copyright a:hover {
    color: #ee3131
}

.gta {
    overflow: hidden
}

.gta img {
    transition: .6s
}

.gta img:hover {
    transform: scale(110%)
}

.news {
    overflow: hidden
}

.news img {
    transition: .6s
}

.news img:hover {
    transform: scale(110%)
}

@media (min-width:320px) {
    .grey {
        text-align: center
    }

    .carousel-caption {
        text-align: left;
        display: none;
    }

    .logos {
        display: none;
        text-align: right
    }

    .mb .mobile p {
        font-size: .8em
    }

    .img img {
        height: 50vh
    }

    .red {
        margin-top: 0
    }

    .free i {
        padding-top: 20px
    }

    .david {
        background: #fff;
        padding: 30px;
        margin-top: 30px;
        color: #333
    }

    .matin img {
        border-radius: 60px;
        border: 5px solid #fff;
        position: relative;
        top: -120px;
        left: 80px
    }

    .student {
        background: #cf0000;
        clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
        color: #fff;
        padding: 10px 0
    }

    .student h4,
    small {
        margin-left: 15px
    }

    .testimonial {
        background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url(https://autocare.dexignlab.com/xhtml/images/background/bg5.jpg) no-repeat;
        background-size: cover;
        background-position: center top;
        height: 90vh;
        padding-top: 50px
    }

    .auto h5 {
        margin-top: 50px
    }

    .copyright {
        text-align: center
    }
}

@media (min-width:576px) {
    .mb .mobile p {
        font-size: .9em
    }

    .img img {
        height: 80vh
    }

    .carousel-caption {
        text-align: left;
        display: block;
        margin-bottom: 50px;
    }

    .carousel-caption h1 {
        font-size: 3em;
        font-weight: 700
    }

    .red {
        margin-top: 20px
    }

    .testimonial {
        background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url(https://autocare.dexignlab.com/xhtml/images/background/bg5.jpg) no-repeat;
        background-size: cover;
        background-position: center top;
        height: 80vh;
        padding-top: 50px
    }
}

@media (min-width:768px) {

    .carousel-caption h1 {
        font-size: 4em;
        font-weight: 700
    }

    .carousel-caption {
        text-align: left;
        display: block;
    }

    .logos {
        display: block
    }

    .gray {
        text-align: left
    }

    .headphones {
        position: fixed;
        top: 400px;
        left: 10px;
        border-radius: 50px
    }

    .share {
        position: fixed;
        top: 480px;
        left: 10px;
        border-radius: 50px
    }

    .shopping {
        position: fixed;
        top: 560px;
        left: 10px;
        border-radius: 50px
    }

    .red {
        margin-top: 30px
    }

    .copyright {
        display: flex;
        justify-content: space-between
    }
}

@media (min-width:993px) {
    .carousel-caption h1 {
        font-size: 5em;
        font-weight: 700
    }

    .img img {
        height: 100vh
    }

    .carousel-caption {
        text-align: left;
        display: block;
        margin-bottom: 150px;
    }

    .testimonial {
        background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url(https://autocare.dexignlab.com/xhtml/images/background/bg5.jpg) no-repeat;
        background-size: cover;
        background-position: center top;
        height: 50vh;
        padding-top: 50px
    }
}

@media (min-width:1200px) {
    .red {
        margin-top: 50px
    }
    
    .auto h5 {
        margin-top: 0
    }

    .testimonial {
        background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url(https://autocare.dexignlab.com/xhtml/images/background/bg5.jpg) no-repeat;
        background-size: cover;
        background-position: center top;
        height: 70vh;
        padding-top: 50px
    }
}