<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bank | Jayesh Tele</title>
  <meta name="description" content="Best bank near by in pune">
  <meta name="keywords" content="bank, union , axis">
  <meta name="author" content="Jayesh Tele">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/style.css">
</head>

<body>


  <main class="wrapper">

    <section class="hero-section">

      <nav class="paiment fw-bold container">
        <div class="row">
          <figure class="left col-9 col-sm-10 col-lg-3 col-xl-4">
            <img src="http://rockstheme.com/rocks/paiment-live/img/logo/logo3.png" alt="No Image">
          </figure>

          <div class="centre col-lg-7 col-xl-6">
            <a href="#">HOME</a>
            <a href="#">ABOUT US</a>
            <a href="#">PAGES</a>
            <a href="#">FEATURES</a>
            <a href="#">BLOG</a>
            <a href="#">CONTACTS</a>
          </div>

          <div class="right col-lg-2 col-xl-1">
            <a href="#">LOGIN</a>
          </div>

          <div class="menu text-white fs-3 ms-2 col-1">
           <a href="#"> <i class="fas fa-bars"></i></a>
          </div>
        </div>
      </nav>

      <section class="money text-white container">
        <h1 class=" fw-bold">Move money in easy <br> secure steps</h1>
        <p>Fast and easy you want to be more secure send and <br> recives money sort time</p>
        <a href="#">GET STARTED</a>
        <a href="#"><i class="fas fa-play-circle"></i> watch video</a>
      </section>
    </section>

    <section class="account container">
      <div class="row">
        <div class="create col-10 mx-auto col-md-5 col-xl-3">
          <section>
            <i class="fas fa-user-tie"></i>
          </section>
          <section>
          <h3>01. Creat an account</h3>
          <p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu. Agencies to define
            their
            new business objectives and then create</p>
          </section>
        </div>

        <div class="create col-10 mx-auto col-md-5 col-xl-3">
          <section>
            <i class="fas fa-city"></i>
          </section>
          <section>
          <h3>02. Attach bank accounts</h3>
          <p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu. Agencies to define
            their
            new business objectives and then create</p>
          </section>
        </div>

        <div class="create col-10 mx-auto col-md-5 col-xl-3">
         <section>
          <i class="fas fa-globe-europe"></i>
        </section>
        <section>
          <h3>03. Send money</h3>
          <p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu. Agencies to define
            their
            new business objectives and then create</p>
          </section>
        </div>
      </div>
    </section>

    <section class="choose container">

      <header>
        <h1>Why choose paiment online plateform</h1>
        <p>Help agencies to define their new business objectives and then create <br> professional software.</p>
      </header>

      <section class="row">

        <div class="services col-11 mx-auto col-md-5 col-lg-5 col-xl-5 ">
          <section>
            <i class="far fa-thumbs-up"></i>
          </section>
          <section>
            <h2>Professional Services</h2>
            <p>Replacing a maintains the amount of lines. When replacing a selection. help agencies to define their new
              business objectives and then create</p>
          </section>
        </div>
        <div class="services col-11 mx-auto col-md-5 col-lg-5 col-xl-5 ">
          <section>
            <i class="fas fa-people-arrows"></i>
          </section>
          <section>
            <h2>Low Costing</h2>
            <p>Replacing a maintains the amount of lines. When replacing a selection. help agencies to define their new
              business objectives and then create</p>
          </section>
        </div>
        <div class="services col-11 mx-auto  col-md-5 col-lg-5 col-xl-5 ">
          <section>
            <i class="fas fa-user-tie"></i>
          </section>
          <section>
            <h2>Live Support</h2>
            <p>Replacing a maintains the amount of lines. When replacing a selection. help agencies to define their new
              business objectives and then create</p>
          </section>
        </div>
        <div class="services col-11 mx-auto col-md-5 col-lg-5 col-xl-5 ">
          <section>
            <i class="fas fa-lock"></i>
          </section>
          <section>
            <h2>Safe & Security</h2>
            <p>Replacing a maintains the amount of lines. When replacing a selection. help agencies to define their new
              business objectives and then create</p>
          </section>
        </div>
      </section>

      <footer class="row rb">
        <button class="btn col-10 col-sm-5 col-md-4 col-lg-3 col-xl-2">MORE ABOUT US</button>
        <a href="#" class="col-9 col-sm-5 col-md-4 col-lg-3 ">Create an account</a>
      </footer>
    </section>

    <section class="worldwide container mb-5 mt-5">

      <div class="ww">

        <h1>Paiment services worldwide</h1>
        <p>Help agencies to define their new business objectives and then create <br> professional software.</p>
      </div>

      <div class="row">

        <div class="transfer col-11 mx-auto mt-5 col-sm-5  col-xl-2">
          <i class="far fa-handshake fs-1 mb-4 mt-5"></i>
          <h3>Money Transfer</h3>
        </div>
        <div class="transfer col-11 mx-auto mt-5 col-sm-5  col-xl-2">
          <i class="fas fa-piggy-bank fs-1 mb-4 mt-5"></i>
          <h3>Bank deposit</h3>
        </div>
        <div class="transfer col-11 mx-auto mt-5 col-sm-5  col-xl-2">
          <i class="fas fa-shopping-bag fs-1 mb-4 mt-5"></i>
          <h3>Online Shopping</h3>
        </div>
        <div class="transfer col-11 mx-auto mt-5 col-sm-5 col-xl-2">
          <i class="far fa-credit-card fs-1 mb-4 mt-5"></i>
          <h3>Online payment</h3>
        </div>
      </div>
    </section>

    <section class="startup container pt-5 pb-5">

      <div class="row">
        <figure class="col-12 col-md-4  col-xl-6 card">
          <img src="http://rockstheme.com/rocks/paiment-live/img/feature/f1.png" alt="">
        </figure>

        <div class="col-12 col-md-8 col-xl-6  ">
          <h1>Move money for worldwide your startup business</h1>
          <p>Replacing a maintains the amount of lines. When replacing a selection. help agencies to define their new
            business objectives and then create. Replacing a maintains the amount of lines. When replacing a selection.
            help agencies to define their new business objectives and then create. Replacing a maintains the amount of
            lines. When replacing a selection. help agencies to define their new business objectives and then create.
          </p>
          <button class="btn">
            Get Started Now
          </button>
        </div>
      </div>
    </section>

    <section class="easily container">

      <div class="row">

        <section class="grow col-md-7 col-xl-6">
          <h1>Easily grow your business save more money</h1>
          <p>Replacing a maintains the amount of lines. When replacing a selection. help agencies to define their new
            business objectives and then create</p>
          <div class="jay col-10 mt-3">
            <i class="fas fa-check-circle "></i>
            <a href="#" class="d-block text-decoration-none col-12 ">Innovation idea latest
              business technology</a>
          </div>
          <div class="jay col-10 mt-3">
            <i class="fas fa-check-circle "></i>
            <a href="#" class="d-block text-decoration-none col-12 ">Digital
              content
              marketing online clients
              plateform</a>
          </div>
          <div class="jay col-10 mt-3">
            <i class="fas fa-check-circle "></i>
            <a href="#" class="d-block text-decoration-none  pb-5 col-12 ">Safe
              secure
              services for you online email
              account</a>
          </div>
          <button class="btn mb-5">LEARN ABOUT MORE</button>
        </section>
        <figure class="col-12 mb-5 col-md-5 col-xl-6">
          <img src="http://rockstheme.com/rocks/paiment-live/img/feature/f2.png" alt="">
        </figure>
      </div>
    </section>

    <section class="happy">

      <div class="background">
        <h1 class="text-white fw-bold">We are happy our business partner <br> relationship buildup</h1>

        <div class="row container rc">
          <figure class=" themes ">
            <a href="#"><img src="http://rockstheme.com/rocks/paiment-live/img/client/1.png" alt=""></a>
            <a href="#"><img src="http://rockstheme.com/rocks/paiment-live/img/client/2.png" alt=""></a>
            <a href="#"><img src="http://rockstheme.com/rocks/paiment-live/img/client/3.png" alt=""></a>
            <a href="#"><img src="http://rockstheme.com/rocks/paiment-live/img/client/4.png" alt=""></a>
            <a href="#"><img src="http://rockstheme.com/rocks/paiment-live/img/client/5.png" alt=""></a>
            <a href="#"><img src="http://rockstheme.com/rocks/paiment-live/img/client/1.png" alt=""></a>
            <a href="#"><img src="http://rockstheme.com/rocks/paiment-live/img/client/2.png" alt=""></a>
            <a href="#"><img src="http://rockstheme.com/rocks/paiment-live/img/client/3.png" alt=""></a>
            <a href="#"><img src="http://rockstheme.com/rocks/paiment-live/img/client/4.png" alt=""></a>
            <a href="#"><img class="" src="http://rockstheme.com/rocks/paiment-live/img/client/5.png" alt=""></a>
          </figure>
        </div>
      </div>
      <button class="btn fw-bold mb-5 get-started ">
        GET STARTED
      </button>
    </section>

    <section class="core container">

      <div class="feature">
        <h1>Paiment core feature</h1>
        <p>Help agencies to define their new business objectives and then create <br> professional software.</p>
      </div>

      <div class="row">

        <section class="fraud col-11 mx-auto col-sm-5 col-lg-5 col-xl-4">
          <i class="fas fa-diagnoses"></i>
          <h3>Fraud detection</h3>
          <p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu</p>
        </section>
        <section class="fraud col-11 mx-auto col-sm-5 col-lg-5 col-xl-4">
          <i class="fas fa-user-tie"></i>
          <h3>Support manager</h3>
          <p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu</p>
        </section>
        <section class="fraud col-11 mx-auto  col-sm-5 col-lg-5 col-xl-4">
          <i class="fas fa-cogs"></i>
          <h3>Account updater</h3>
          <p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu</p>
        </section>
        <section class="fraud col-11 mx-auto  col-sm-5 col-lg-5 col-xl-4">
          <i class="far fa-credit-card"></i>
          <h3>Payment invoice</h3>
          <p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu</p>
        </section>
        <section class="fraud col-11 mx-auto  col-sm-5 col-lg-5 col-xl-4">
          <i class="fas fa-network-wired"></i>
          <h3>Payments types</h3>
          <p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu</p>
        </section>
        <section class="fraud col-11 mx-auto  col-sm-5 col-lg-5 col-xl-4">
          <i class="fas fa-check-circle"></i>
          <h3>Simple checkout</h3>
          <p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu</p>
        </section>
      </div>
    </section>

    <section class="download container">

      <div class="row">

        <section class="play-store col-md-5 mt-5 col-lg-5 pt-5 col-xl-5  ">
          <img src="http://rockstheme.com/rocks/paiment-live/img/about/ab1.png" alt="">
        </section>
        <section class="play-store col-md-6 col-lg-6 col-xl-6">
          <h1>
            Download our apps of your mobile phone for service</h1>
          <p>Replacing a maintains the amount of lines. When replacing a selection. help agencies to define their new
            business objectives and then createReplacing a maintains the amount of lines. When replacing a selection.
            help agencies to define their new business objectives and then createReplacing a maintains the amount of
            lines. When replacing a selection. help agencies to define their new business objectives and then create</p>
          <button class="btn fw-bold col-4 p-0 pt-2 pb-2 ps-1 pe-1 col-sm-4"><i class="fas fa-play"></i> Play
            Store</button>
          <button class="btn fw-bold col-4 p-0 pt-2 pb-2 ps-1 pe-1 col-sm-4"><i class="fab fa-apple"></i> App
            Store</button>
        </section>
      </div>
    </section>

    <section class="integration text-white">
      <h1 class="fw-bold container col-12 fs-3">Our worldwide integration partner work with <br> long time relationship
      </h1>
      <button class="btn fw-bold mt-3 ms-4 ">
        Open new account
      </button>
    </section>

    <section class="products container">

      <div class="row">

        <section class="brand pro  col-sm-10 pb-5 col-xl-4">
          <img src="http://rockstheme.com/rocks/paiment-live/img/logo/logo.png" alt="">
          <p class="col-lg-8">Are you looking for professional advice for your new business. Are you looking for
            professional advice for
            your new business. Are you looking for professional advice for your new business.</p>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-google"></i></a>
          <a href="#"><i class="fab fa-pinterest"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <br>
          <input class="col-5 col-lg-6" type="text" placeholder="Type Email">
          <button class="btn fw-bold">Subscribe</button>
        </section>
        <section class="brand col-sm-5 pb-4 col-md-3 col-xl-2">
          <h3>Products</h3>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Bank Card</a>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Deposit Skim</a>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Affiliate</a>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Software</a>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Branding</a>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Promotion</a>
        </section>
        <section class="brand  col-sm-4 pb-4  col-md-3 col-xl-2">
          <h3>Payments</h3>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Bank Card</a>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Deposit Skim</a>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Affiliate</a>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Software</a>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Branding</a>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Promotion</a>
        </section>
        <section class="brand  col-sm-5 pb-4  col-md-3 col-xl-2">
          <h3>Company</h3>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Bank Card</a>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Deposit Skim</a>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Affiliate</a>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Software</a>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Branding</a>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Promotion</a>
        </section>
        <section class="brand col-sm-4 pb-5 col-md-3 col-xl-2 ">
          <h3>Support</h3>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Bank Card</a>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Deposit Skim</a>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Affiliate</a>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Software</a>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Branding</a>
          <a href="#"><i class="fas fa-chevron-circle-right"></i>Promotion</a>
        </section>
      </div>
    </section>

    <section class="end">
      <p class="container">Copyright © 2019 <a href="#" class="text-decoration-none ps-1 pe-1">Paiment</a> All Rights
        Reserved</p>
    </section>
  </main>






  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
</body>

</html>