@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

* {
    margin: 0;
    padding: 0
}

:root {
    font-size: 16px;
    --oswald: 'Oswald', sans-serif;
    --raleway: 'Raleway', sans-serif
}

.wrapper {
    font-family: var(--oswald)
}

.hero-section {
    background: #000;
    height: 230px
}

.container section {
    background: #538167;
    width: 30%;
    height: 2px;
    margin-top: 1px
}

.navbar figure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    height: 50px
}

.navbar figure img {
    width: 60%;
    padding-left: 10px
}

.navbar a i {
    text-decoration: none;
    color: #538167;
    padding-right: 30px;
    font-size: 1.5em
}

.centre {
    display: none
}

.right {
    display: none
}

.right a:hover {
    background: #fff;
    color: #4d7960
}

.container {
    padding-left: 25px
}

.white {
    color: #fff;
    font-size: 1.2em
}

.hgreen {
    color: #538167;
    font-size: 1.5em
}

.w1 {
    font-size: 1.8em;
    padding-bottom: 5px
}

.container a {
    font-family: var(--raleway);
    font-weight: bolder;
    text-decoration: none;
    color: #fff;
    font-size: .7em;
    border: 1px solid #4d7960;
    background: #4d7960;
    padding: 10px 25px;
    letter-spacing: 1px
}

.container a:hover {
    background: #fff;
    color: #4d7960
}

.check {
    text-align: center;
    padding-top: 60px;
    font-size: 1.6em
}

.heading h1 {
    color: #333
}

.heading p {
    padding-top: 20px;
    color: #999;
    font-weight: 500;
    font-family: var(--raleway);
    font-size: .7em
}

.check .gray {
    width: 60%;
    height: 5px;
    margin: 0 auto;
    background: #f0f0f0;
    border-radius: 3px
}

.check .green {
    width: 30%;
    height: 5px;
    margin: 0 auto;
    background: #538167;
    border-radius: 3px
}

.add-to-cart figure {
    width: 45%
}

.add-to-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 80px
}

.add-to-cart img {
    width: 100%;
    border: 1px solid #999;
    margin-top: 30px
}

.add-to-cart figcaption {
    font-size: .5em
}

.add-to-cart figcaption h1 {
    font-weight: 500;
    color: #333
}

.add-to-cart figcaption a {
    text-decoration: none;
    color: #1b1b1b;
    border: 2px solid #1b1b1b;
    padding: 5px 20px;
    font-family: var(--raleway);
    font-weight: 700
}

.add-to-cart figcaption a:hover {
    background: #121212;
    color: #fff
}

.add-to-cart figcaption p {
    color: #538167;
    padding-bottom: 10px
}

.add-to-cart figcaption p del {
    color: #999;
    padding-right: 5px
}

.trimmer {
    text-align: center
}

.trimmer {
    padding: 100px 0;
    background: #1b1b1b
}

.trimmer h1 {
    font-size: 4.5em;
    color: #fff
}

.trimmer p {
    width: 95%;
    margin: 0 auto;
    font-weight: 500;
    font-size: 1.2em;
    color: #fff;
    font-family: var(--raleway)
}

.trimmer div {
    width: 40%;
    margin: 0 auto;
    height: 5px;
    border-radius: 3px;
    background: #fff;
    margin-bottom: 10px
}

.popular {
    padding-top: 70px
}

.styles {
    width: 92%;
    margin: 0 auto
}

.styles h1 {
    font-size: 1.6em;
    color: #333;
    letter-spacing: 1px
}

.styles .g1 {
    height: 3px;
    background: #dbdbdb;
    border-radius: 5px;
    margin-bottom: 20px
}

.styles .gr1 {
    width: 15%;
    height: 2px;
    background: #4d7960;
    border-radius: 5px;
    margin-bottom: 20px
}

.comb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.comb figure {
    width: 45%;
    padding-top: 5px
}

.comb img {
    width: 100%
}

.prices {
    padding-top: 30px
}

.trim {
    width: 90%;
    margin: 0 auto;
    font-family: var(--raleway)
}

.gd {
    color: #4d7960;
    font-weight: 700
}

.from {
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    color: #333
}

.days {
    background: #4d7960;
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 100px;
    color: #fff;
    margin-top: 10px
}

.days h1 {
    font-size: 3em;
    padding-top: 23px
}

.s {
    background: #333
}

.weekly {
    background: url(http://barber.premiumcoding.com/wp-content/uploads/2013/12/barber-slideshow-5.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 100px 0
}

.discount {
    background: #4d7960;
    width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    border: 5px dashed #fff;
    padding: 30px 0;
    margin-bottom: 100px
}

.discount h1 {
    font-family: var(--oswald);
    font-size: 2.3em;
    line-height: 42px
}

.call {
    background: url(http://barber.premiumcoding.com/wp-content/uploads/2013/12/barber-slideshow-91.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center
}

.moreal {
    padding: 30px 0;
    text-align: center;
    background: #222
}

.moreal img {
    width: 30%
}

.h5 p {
    text-align: center;
    font-size: 1.2em
}

.h5 h1 {
    text-align: center;
    font-size: 2.5em;
    line-height: 45px
}

.h5 .green {
    width: 30%;
    height: 5px;
    margin: 0 auto;
    background: #538167;
    border-radius: 3px
}

.h5 .gray {
    width: 60%;
    height: 5px;
    margin: 20px auto;
    background: #f0f0f0;
    border-radius: 3px
}

.profile {
    text-align: center;
    width: 90%;
    margin: 0 auto
}

.profile figure {
    border: 5px solid #999;
    margin-top: 20px
}

.profile img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100px
}

.profile h1 {
    color: #333;
    font-size: 1.3em
}

.profile h2 {
    padding-top: 20px;
    color: #333;
    font-size: .9em;
    font-family: var(--raleway)
}

.profile p {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    color: #999;
    font-size: 1em;
    font-family: var(--raleway);
    line-height: 30px
}

.profile section {
    padding-top: 20px;
    color: #4d7960;
    font-size: 1em;
    font-family: var(--raleway);
    font-weight: 700
}

.profile a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #999;
    background: #999;
    border-radius: 30px;
    padding: 11px 16px;
    line-height: 130px
}

.subscribe {
    background: #333;
    padding: 100px 0;
    text-align: center
}

.subscribe h1 {
    font-family: var(--oswald);
    font-size: 2.5em;
    color: #fff;
    width: 70%;
    margin: 0 auto;
    line-height: 50px
}

.subscribe p {
    font-size: 1.2em;
    color: #999;
    width: 90%;
    margin: 0 auto;
    font-family: var(--raleway)
}

.subscribe input {
    padding: 17px 10px;
    padding-right: 30px;
    background: #222;
    border: 1px solid #121212;
    font-family: var(--raleway);
    margin-top: 20px
}

.subscribe input::placeholder {
    color: #fff
}

.subscribe a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #4d7960;
    background: #4d7960;
    font-family: var(--raleway);
    padding: 15px 10px;
    position: relative;
    right: 4px;
    font-weight: 700
}

.subscribe a:hover {
    background: #fff;
    color: #4d7960
}

.buy-now {
    background: #1b1b1b;
    padding-bottom: 50px
}

.buy {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    color: #fff
}

.buy p {
    font-family: var(--raleway);
    font-size: 1em;
    line-height: 25px;
    padding: 30px 0
}

.buy a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #4d7960;
    background: #4d7960;
    padding: 10px 15px;
    font-family: var(--raleway);
    font-weight: 700
}

.buy a:hover {
    background: #fff;
    color: #4d7960
}

.buy figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.buy img {
    padding-top: 7px;
    width: 49%
}

.buy section i {
    color: #4d7960;
    padding: 5px 10px
}

.buy section {
    font-family: var(--raleway)
}

.opening-times {
    padding: 15px;
    background: #222;
    width: 90%;
    margin: 20px auto;
    line-height: 40px
}

.times {
    display: flex;
    justify-content: space-between
}

.times h2 {
    color: #4d7960;
    font-size: large
}

.team {
    padding-bottom: 30px
}

footer {
    text-align: center;
    background: #121212;
    color: #fff;
    padding: 30px
}

footer h1 {
    font-size: larger;
    font-family: var(--raleway);
    font-weight: 500
}

footer img {
    padding: 0 5px
}

footer p {
    padding-top: 10px;
    font-family: var(--raleway)
}

footer p a {
    text-decoration: none;
    color: #4d7960
}

@media (min-width:768px) {
    .hero-section {
        background: url(https://images.pexels.com/photos/3998406/pexels-photo-3998406.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat;
        background-size: cover;
        background-position: center top;
        height: 80vh;
    }

    .check .gray {
        width: 25%
    }

    .add-to-cart figure {
        width: 23%
    }

    .trimmer div {
        width: 15%
    }

    .most {
        width: 50%;
        padding: 30px 0
    }

    .top {
        width: 50%
    }

    .popular {
        display: flex
    }

    .weekly {
        justify-content: center
    }

    .days {
        margin-left: 10px;
        margin-right: 10px
    }

    .moreal img {
        width: 17%
    }

    .heading p {
        padding-top: 80px
    }

    .h5 .gray {
        width: 30%
    }

    .profile {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap
    }

    .profile figure {
        width: 45%
    }

    .subscribe input {
        padding: 25px 10px;
        padding-right: 180px
    }

    .subscribe a {
        padding: 23px 25px
    }

    .buy-now {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap
    }

    .buy {
        width: 45%
    }

    .navbar figure {
        height: 80px
    }

    .navbar figure img {
        width: 30%
    }

    .navbar a i {
        font-size: 2em
    }

    .container a {
        font-family: var(--raleway);
        font-weight: bolder;
        text-decoration: none;
        color: #fff;
        font-size: 1em;
        border: 1px solid #4d7960;
        background: #4d7960;
        padding: 10px 25px;
        letter-spacing: 1px
    }

    .w1 {
        font-size: 2.8em;
        padding-bottom: 25px
    }

    .hgreen {
        color: #538167;
        font-size: 2.5em
    }

    .white {
        color: #fff;
        font-size: 2.2em
    }

    .comb figure {
        width: 22%;
        padding-top: 5px
    }

    .p1 {
        padding-top: 50px
    }
}

@media (min-width:992px) {
    .hero-section {
        height: 100vh;
    }

    .right,
    figure .centre {
        display: block
    }

    figure .fa-bars {
        display: none
    }

    .navbar figure img {
        width: 20%
    }

    .navbar figure {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px
    }

    .centre a {
        font-family: var(--raleway);
        font-weight: 700;
        text-decoration: none;
        color: #fff;
        padding: 0 5px
    }

    .right a {
        font-family: var(--raleway);
        font-weight: bolder;
        text-decoration: none;
        color: #fff;
        font-size: .7em;
        border: 1px solid #4d7960;
        background: #4d7960;
        padding: 10px 25px;
        letter-spacing: 1px
    }

    .white {
        color: #fff;
        font-size: 6em
    }

    .container a {
        font-family: var(--raleway);
        font-weight: bolder;
        text-decoration: none;
        color: #fff;
        font-size: 1em;
        border: 1px solid #4d7960;
        background: #4d7960;
        padding: 10px 25px;
        letter-spacing: 1px
    }

    .check .gray {
        width: 20%
    }

    .trimmer div {
        width: 10%
    }

    .styles .gr1 {
        width: 15%;
        height: 3px
    }

    .h5 .gray {
        width: 20%
    }

    .profile {
        width: 100%
    }

    .profile figure {
        width: 22%
    }

    .subscribe input {
        padding-right: 400px
    }

    .buy {
        width: 22%
    }
}

@media (min-width:1200px) {

    .container {
        padding-left: 200px;
        padding-top: 10px
    }

    .hgreen {
        font-size: 3.5em
    }

    .centre a {
        padding: 0 15px
    }

    .add-to-cart figcaption {
        font-size: .6em
    }

    .check {
        width: 80%;
        margin: 0 auto
    }

    .popular {
        width: 90%;
        margin: 0 auto
    }

    .discount {
        background: #4d7960;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 100px
    }

    .team {
        width: 90%;
        margin: 0 auto
    }

    .trimmer {
        padding: 70px 0;
        background: #1b1b1b
    }

    .add-to-cart figcaption a {
        padding: 10px 20px
    }
}