<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bakery | Jayesh Tele</title>
  <meta name="description" content="best bakery shop pune">
  <meta name="keywords" content="bakery, cake, pastery, cup, cake">
  <meta name="author" content="Jayesh Tele">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <main class="wrapper">

    <section class="hero-section">

      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../Bakery/images/Background/wallpaperflare.com_wallpaper.jpg" class="w-100 img-1" alt="...">
            <div class="carousel-caption">
              <nav class="navbar navbar-expand-lg navbar-dark">

                <a href='#' class='navbar-brand col-5 col-sm-4 col-md-3 col-lg-2'>
                  <img src="https://gico.io/cyyo/03_Bread_bakery/images/logo.png" alt="" class="col-5 col-sm-6">
                </a>
                <button class='navbar-toggler' type="button" data-bs-toggle="collapse" data-bs-target="#mynav">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse mx-auto" id="mynav">
                  <div class="navbar-nav pe-3">
                    <div class="dropdown active">
                      <button class="btn dropdown-toggle text-white active fw-bold" type="button" id="Home"
                        data-bs-toggle="dropdown">Home
                      </button>
                      <section class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="#">Cake</a>
                        <a class="dropdown-item" href="#">Pastery</a>

                      </section>
                    </div>
                  </div>
                  <div class="navbar-nav pe-3">
                    <div class="dropdown active">
                      <button class="btn dropdown-toggle text-white fw-bold" type="button" id="Home"
                        data-bs-toggle="dropdown">About
                      </button>
                      <section class="dropdown-menu">
                        <a class="dropdown-item" href="#">About us</a>
                        <a class="dropdown-item" href="#">History</a>
                        <a class="dropdown-item" href="#">Team</a>
                      </section>
                    </div>
                  </div>
                  <div class="navbar-nav ">
                    <div class="dropdown active">
                      <button class="btn dropdown-toggle text-white fw-bold" type="button" id="Home"
                        data-bs-toggle="dropdown">Products
                      </button>
                      <section class="dropdown-menu">
                        <a class="dropdown-item" href="#">Products</a>
                        <a class="dropdown-item" href="#">Products V2</a>
                        <a class="dropdown-item" href="#">Products Details</a>
                      </section>
                    </div>
                  </div>
                  <div class="navbar-nav ">
                    <div class="dropdown active">
                      <button class="btn dropdown-toggle text-white fw-bold" type="button" id="Home"
                        data-bs-toggle="dropdown">Blog
                      </button>
                      <section class="dropdown-menu">
                        <a class="dropdown-item" href="#">Our Blog</a>
                        <a class="dropdown-item" href="#">Single Blog</a>
                      </section>
                    </div>
                  </div>
                  <div class="navbar-nav">
                    <div class="dropdown active">
                      <button class="btn dropdown-toggle text-white fw-bold" type="button" id="Home"
                        data-bs-toggle="dropdown">Shop
                      </button>
                      <section class="dropdown-menu">
                        <a class="dropdown-item" href="#">Shopping cart</a>
                        <a class="dropdown-item" href="#">Checkout</a>
                        <a class="dropdown-item" href="#">Amount</a>
                      </section>
                    </div>
                  </div>
                  <div class="navbar-nav ">
                    <div class="dropdown active">
                      <button class="btn dropdown-toggle text-white fw-bold" type="button" id="Home"
                        data-bs-toggle="dropdown">Contact Us
                      </button>
                    </div>
                  </div>
                </div>
                <div class="cart">
                  <div class="left">
                    <a href="#"><i class="fas fa-search"></i></a>
                  </div>
                  <div class="middle">
                    <h4>Call now</h4>
                    <h4><a href="#">880168 123 48101</a></h4>
                  </div>
                  <div class="right">
                    <a href="#"><i class="fas fa-shopping-cart"></i></a>
                  </div>
                </div>
              </nav>
              <hr>
              <div class="contain">
                <h1>Bakery Bread</h1>
                <h1>Daily Need Studio</h1>
                <button class="btn">Order Now</button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../Bakery/images/Background/pexels-vitaliy-fursov-8963884.jpg " class="w-100 img-1" alt="...">
            <div class="carousel-caption">
              <nav class="navbar navbar-expand-lg navbar-dark">

                <a href='#' class='navbar-brand col-5 col-sm-4 col-md-3 col-lg-2'>
                  <img src="https://gico.io/cyyo/03_Bread_bakery/images/logo.png" alt="" class="col-5 col-sm-6">
                </a>
                <button class='navbar-toggler' type="button" data-bs-toggle="collapse" data-bs-target="#mynav">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse mx-auto" id="mynav">
                  <div class="navbar-nav pe-3">
                    <div class="dropdown active">
                      <button class="btn dropdown-toggle text-white active fw-bold" type="button" id="Home"
                        data-bs-toggle="dropdown">Home
                      </button>
                      <section class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="#">Cake</a>
                        <a class="dropdown-item" href="#">Pastery</a>

                      </section>
                    </div>
                  </div>
                  <div class="navbar-nav pe-3">
                    <div class="dropdown active">
                      <button class="btn dropdown-toggle text-white fw-bold" type="button" id="Home"
                        data-bs-toggle="dropdown">About
                      </button>
                      <section class="dropdown-menu">
                        <a class="dropdown-item" href="#">About us</a>
                        <a class="dropdown-item" href="#">History</a>
                        <a class="dropdown-item" href="#">Team</a>
                      </section>
                    </div>
                  </div>
                  <div class="navbar-nav ">
                    <div class="dropdown active">
                      <button class="btn dropdown-toggle text-white fw-bold" type="button" id="Home"
                        data-bs-toggle="dropdown">Products
                      </button>
                      <section class="dropdown-menu">
                        <a class="dropdown-item" href="#">Products</a>
                        <a class="dropdown-item" href="#">Products V2</a>
                        <a class="dropdown-item" href="#">Products Details</a>
                      </section>
                    </div>
                  </div>
                  <div class="navbar-nav ">
                    <div class="dropdown active">
                      <button class="btn dropdown-toggle text-white fw-bold" type="button" id="Home"
                        data-bs-toggle="dropdown">Blog
                      </button>
                      <section class="dropdown-menu">
                        <a class="dropdown-item" href="#">Our Blog</a>
                        <a class="dropdown-item" href="#">Single Blog</a>
                      </section>
                    </div>
                  </div>
                  <div class="navbar-nav">
                    <div class="dropdown active">
                      <button class="btn dropdown-toggle text-white fw-bold" type="button" id="Home"
                        data-bs-toggle="dropdown">Shop
                      </button>
                      <section class="dropdown-menu">
                        <a class="dropdown-item" href="#">Shopping cart</a>
                        <a class="dropdown-item" href="#">Checkout</a>
                        <a class="dropdown-item" href="#">Amount</a>
                      </section>
                    </div>
                  </div>
                  <div class="navbar-nav ">
                    <div class="dropdown active">
                      <button class="btn dropdown-toggle text-white fw-bold" type="button" id="Home"
                        data-bs-toggle="dropdown">Contact Us
                      </button>
                    </div>
                  </div>
                </div>
                <div class="cart">
                  <div class="left">
                    <a href="#"><i class="fas fa-search"></i></a>
                  </div>
                  <div class="middle">
                    <h4>Call now</h4>
                    <h4><a href="#">880168 123 48101</a></h4>
                  </div>
                  <div class="right">
                    <a href="#"><i class="fas fa-shopping-cart"></i></a>
                  </div>
                </div>
              </nav>
              <hr>
              <div class="contain">
                <h1>Bakery Bread</h1>
                <h1>Daily Need Studio</h1>
                <button class="btn">Order Now</button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../Bakery/images/Background/Cake.jpg" class="w-100 img-1" alt="...">
            <div class="carousel-caption">
              <nav class="navbar navbar-expand-lg navbar-dark">

                <a href='#' class='navbar-brand col-5 col-sm-4 col-md-3 col-lg-2'>
                  <img src="https://gico.io/cyyo/03_Bread_bakery/images/logo.png" alt="" class="col-5 col-sm-6">
                </a>
                <button class='navbar-toggler' type="button" data-bs-toggle="collapse" data-bs-target="#mynav">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse mx-auto" id="mynav">
                  <div class="navbar-nav pe-3">
                    <div class="dropdown active">
                      <button class="btn dropdown-toggle text-white active fw-bold" type="button" id="Home"
                        data-bs-toggle="dropdown">Home
                      </button>
                      <section class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="#">Cake</a>
                        <a class="dropdown-item" href="#">Pastery</a>

                      </section>
                    </div>
                  </div>
                  <div class="navbar-nav pe-3">
                    <div class="dropdown active">
                      <button class="btn dropdown-toggle text-white fw-bold" type="button" id="Home"
                        data-bs-toggle="dropdown">About
                      </button>
                      <section class="dropdown-menu">
                        <a class="dropdown-item" href="#">About us</a>
                        <a class="dropdown-item" href="#">History</a>
                        <a class="dropdown-item" href="#">Team</a>
                      </section>
                    </div>
                  </div>
                  <div class="navbar-nav ">
                    <div class="dropdown active">
                      <button class="btn dropdown-toggle text-white fw-bold" type="button" id="Home"
                        data-bs-toggle="dropdown">Products
                      </button>
                      <section class="dropdown-menu">
                        <a class="dropdown-item" href="#">Products</a>
                        <a class="dropdown-item" href="#">Products V2</a>
                        <a class="dropdown-item" href="#">Products Details</a>
                      </section>
                    </div>
                  </div>
                  <div class="navbar-nav ">
                    <div class="dropdown active">
                      <button class="btn dropdown-toggle text-white fw-bold" type="button" id="Home"
                        data-bs-toggle="dropdown">Blog
                      </button>
                      <section class="dropdown-menu">
                        <a class="dropdown-item" href="#">Our Blog</a>
                        <a class="dropdown-item" href="#">Single Blog</a>
                      </section>
                    </div>
                  </div>
                  <div class="navbar-nav">
                    <div class="dropdown active">
                      <button class="btn dropdown-toggle text-white fw-bold" type="button" id="Home"
                        data-bs-toggle="dropdown">Shop
                      </button>
                      <section class="dropdown-menu">
                        <a class="dropdown-item" href="#">Shopping cart</a>
                        <a class="dropdown-item" href="#">Checkout</a>
                        <a class="dropdown-item" href="#">Amount</a>
                      </section>
                    </div>
                  </div>
                  <div class="navbar-nav ">
                    <div class="dropdown active">
                      <button class="btn dropdown-toggle text-white fw-bold" type="button" id="Home"
                        data-bs-toggle="dropdown">Contact Us
                      </button>
                    </div>
                  </div>
                </div>
                <div class="cart">
                  <div class="left">
                    <a href="#"><i class="fas fa-search"></i></a>
                  </div>
                  <div class="middle">
                    <h4>Call now</h4>
                    <h4><a href="#">880168 123 48101</a></h4>
                  </div>
                  <div class="right">
                    <a href="#"><i class="fas fa-shopping-cart"></i></a>
                  </div>
                </div>
              </nav>
              <hr>
              <div class="contain">
                <h1>Bakery Bread</h1>
                <h1>Daily Need Studio</h1>
                <button class="btn">Order Now</button>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <section class="double">
      <div class="container-fluid">
        <div class="row">
          <figure class="bread col-12 col-lg-6 col-xl-4">
            <img src="https://gico.io/cyyo/03_Bread_bakery/images/resource/product-1.png" alt="..." class="col-12">
            <figcaption>
              <h4>$19.99</h4>
              <h2 class="mt-4">Double-Coated Non-Stick Tin</h2>
              <p>These citrus sensations feature an all butter biscuit <br> with pure organic orange oil, half dipped in
                dreamy <br> organic Belgian milk chocolate.</p>
              <button class="mt-4">
                Order Now
              </button>
            </figcaption>
          </figure>
          <figure class="bread col-12 col-lg-6 col-xl-4">
            <img src="https://gico.io/cyyo/03_Bread_bakery/images/resource/product-2.png" alt="..." class="col-12">
            <figcaption>
              <h4>$19.99</h4>
              <h2 class="mt-4">Glazed 3-Strap Bread</h2>
              <p>These citrus sensations feature an all butter biscuit <br> with pure organic orange oil, half dipped in
                dreamy <br> organic Belgian milk chocolate.</p>
              <button class="mt-4">
                Order Now
              </button>
            </figcaption>
          </figure>
          <figure class="bread col-12 col-lg-6 col-xl-4 mx-auto">
            <img src="https://gico.io/cyyo/03_Bread_bakery/images/resource/product-3.png" alt="..." class="col-12">
            <figcaption>
              <h4>$19.99</h4>
              <h2 class="mt-4">Pullman Bread Pan Open</h2>
              <p>These citrus sensations feature an all butter biscuit <br> with pure organic orange oil, half dipped in
                dreamy <br> organic Belgian milk chocolate.</p>
              <button class="mt-4">
                Order Now
              </button>
            </figcaption>
          </figure>
        </div>
      </div>
    </section>

    <section class="pretty">
      <div class="container">

        <section class="eat">
          <img src="https://gico.io/cyyo/03_Bread_bakery/images/background/pattern-2.png" alt="" class="eat-1 design">
          <img src="https://gico.io/cyyo/03_Bread_bakery/images/background/pattern-3.png" alt="" class="eat-2 design">
          <img src="https://gico.io/cyyo/03_Bread_bakery/images/resource/prety.jpg" alt="" class="eat-3">
        </section>

        <div class="pan">
          <img src="https://gico.io/cyyo/03_Bread_bakery/images/resource/product-4.png" alt="" class="eat-8">
          <h2>Too Pretty To Eat...Too Good
            Not To</h2>
          <p class="text-white mt-4">In 2015 we decided to expand our commercial kitchen and add a full retail bakery.
            After knocking through
            walls (the very same walls previously constructed in 2013 to make the original space smaller) and
            extensive renovations, we added 1,000 additional square feet of kitchen, production, and retail space.
            <br>
            <br>
            Now offering a wide variety of fresh pastries and desserts, we have an inviting and comfortable café area
            for friends,
            <br>
            <br>
            In 2015 we decided to expand our commercial kitchen and add a full retail bakery. After knocking through
            walls (the very same walls previously constructed in 2013 to make the original space smaller) and
            extensive renovations,
          </p>
          <img src="https://gico.io/cyyo/03_Bread_bakery/images/background/pattern-4.png" alt="" class="eat-4 design">
          <img src="https://gico.io/cyyo/03_Bread_bakery/images/background/pattern-4.png" alt="" class="eat-5 design">
          <img src="https://gico.io/cyyo/03_Bread_bakery/images/icons/icon-1.png" alt="" class="eat-6 design">
          <img src="https://gico.io/cyyo/03_Bread_bakery/images/background/pattern-2.png" alt="" class="eat-7 design">
        </div>

      </div>
      </div>
    </section>

    <section class="square">
      <div class="container">
        <div class="online">
          <small>ONLINE STORE</small>
          <h1 class="text-white fw-bold pt-3">Our Bread List</h1>
          <p class="text-white">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum<br>
            Lorem ipsum dolor sit amet, consectetur</p>
        </div>
        <div class="row d-flex justify-content-evenly">
          <section class="inner-box mt-5">
            <figure>
              <img src="https://gico.io/cyyo/03_Bread_bakery/images/background/pattern-7.png" alt="" class="bread-1">
              <a href="#"><img src="https://gico.io/cyyo/03_Bread_bakery/images/resource/bread-2.png" alt=""
                  class="bread-2"></a>
            </figure>
            <div class="lower">
              <h5>$21.19</h5>
              <h4>Pastry Chef Cake Fantasy</h4>
              <button class="mt-4">
                Order Now
              </button>
            </div>
          </section>
          <section class="inner-box mt-5">
            <figure>
              <img src="https://gico.io/cyyo/03_Bread_bakery/images/background/pattern-7.png" alt="" class="bread-1">
              <a href="#"><img src="https://gico.io/cyyo/03_Bread_bakery/images/resource/bread-3.png" alt=""
                  class="bread-2"></a>
            </figure>
            <div class="lower">
              <h5>$21.19</h5>
              <h4>Pastry Chef Cake Fantasy</h4>
              <button class="mt-4">
                Order Now
              </button>
            </div>
          </section>
          <section class="inner-box mt-5">
            <figure>
              <img src="https://gico.io/cyyo/03_Bread_bakery/images/background/pattern-7.png" alt="" class="bread-1">
              <a href="#"><img src="https://gico.io/cyyo/03_Bread_bakery/images/resource/bread-4.png" alt=""
                  class="bread-2"></a>
            </figure>
            <div class="lower">
              <h5>$21.19</h5>
              <h4>Pastry Chef Cake Fantasy</h4>
              <button class="mt-4">
                Order Now
              </button>
            </div>
          </section>
          <section class="inner-box mt-5">
            <figure>
              <img src="https://gico.io/cyyo/03_Bread_bakery/images/background/pattern-7.png" alt="" class="bread-1">
              <a href="#"><img src="https://gico.io/cyyo/03_Bread_bakery/images/resource/bread-5.png" alt=""
                  class="bread-2"></a>
            </figure>
            <div class="lower">
              <h5>$21.19</h5>
              <h4>Pastry Chef Cake Fantasy</h4>
              <button class="mt-4">
                Order Now
              </button>
            </div>
          </section>
          <section class="inner-box mt-5">
            <figure>
              <img src="https://gico.io/cyyo/03_Bread_bakery/images/background/pattern-7.png" alt="" class="bread-1">
              <a href="#"><img src="https://gico.io/cyyo/03_Bread_bakery/images/resource/bread-6.png" alt=""
                  class="bread-2"></a>
            </figure>
            <div class="lower">
              <h5>$21.19</h5>
              <h4>Pastry Chef Cake Fantasy</h4>
              <button class="mt-4">
                Order Now
              </button>
            </div>
          </section>
          <section class="inner-box mt-5">
            <figure>
              <img src="https://gico.io/cyyo/03_Bread_bakery/images/background/pattern-7.png" alt="" class="bread-1">
              <a href="#"><img src="https://gico.io/cyyo/03_Bread_bakery/images/resource/bread-2.png" alt=""
                  class="bread-2"></a>
            </figure>
            <div class="lower">
              <h5>$21.19</h5>
              <h4>Pastry Chef Cake Fantasy</h4>
              <button class="mt-4">
                Order Now
              </button>
            </div>
          </section>
          <section class="inner-box mt-5">
            <figure>
              <img src="https://gico.io/cyyo/03_Bread_bakery/images/background/pattern-7.png" alt="" class="bread-1">
              <a href="#"><img src="https://gico.io/cyyo/03_Bread_bakery/images/resource/bread-3.png" alt=""
                  class="bread-2"></a>
            </figure>
            <div class="lower">
              <h5>$21.19</h5>
              <h4>Pastry Chef Cake Fantasy</h4>
              <button class="mt-4">
                Order Now
              </button>
            </div>
          </section>
          <section class="inner-box mt-5">
            <figure>
              <img src="https://gico.io/cyyo/03_Bread_bakery/images/background/pattern-7.png" alt="" class="bread-1">
              <a href="#"><img src="https://gico.io/cyyo/03_Bread_bakery/images/resource/bread-4.png" alt=""
                  class="bread-2"></a>
            </figure>
            <div class="lower">
              <h5>$21.19</h5>
              <h4>Pastry Chef Cake Fantasy</h4>
              <button class="mt-4">
                Order Now
              </button>
            </div>
          </section>
        </div>
      </div>
    </section>

    <section class="gift">
      <div class="container">
        <section class="pav">
          <img src="https://gico.io/cyyo/03_Bread_bakery/images/background/pattern-8.png" alt="" class="pv-1">
          <img src="https://gico.io/cyyo/03_Bread_bakery/images/background/pattern-9.png" alt="" class="pv-2">
          <img src="https://gico.io/cyyo/03_Bread_bakery/images/resource/bread-10.png" alt="" class="pv-3">
        </section>
        <section class="para">
          <h1 class="pb-3">A rich white bread that uses a generous amount of butter and fresh cream, best enjoyed
            toasted.</h1>
          <p>A rich white bread that uses a generous amount of butter and fresh cream, best enjoyed toasted.
            <br>
            <br>
            Since April 9th, 2004 we have been providing the Pittsburgh area with high quality cakes,
          </p>
          <button class="btn mt-5">
            Shop Now
          </button>
        </section>
      </div>
    </section>

    <section class="big">
      <img src="https://gico.io/cyyo/03_Bread_bakery/images/background/pattern-13.png" alt="" class="img1 images">
      <img src="https://gico.io/cyyo/03_Bread_bakery/images/background/pattern-11.png" alt="" class="img2 images">
      <img src="https://gico.io/cyyo/03_Bread_bakery/images/background/pattern-11.png" alt="" class="img4 images">
      <img src="https://gico.io/cyyo/03_Bread_bakery/images/resource/bread-11.png" alt="" class="bb">
      <div class="text">
        <h1>HAND FORGED ARTISAN <br>
          BREAD</h1>
      </div>
    </section>

    <section class="black">
      <div class="pic">
        <div class="pic-1">
          <img src="https://gico.io/cyyo/03_Bread_bakery/images/icons/quote-icon.png" alt="...">
          <h3 class="mt-3">"Amazing! Restaurant rustic & trendy. Food is amazing... the best steak ever & so
            tender-cant't wait
            to
            go back."</h3>
          <h5 class="mt-5">Md Mohamad</h5>
          <h6>Co-founder of company</h6>
          <img src="https://gico.io/cyyo/03_Bread_bakery/images/icons/signature.png" alt="...">
        </div>
        <figure>
          <img src="https://gico.io/cyyo/03_Bread_bakery/images/resource/testimonial-1.jpg" alt="">
        </figure>
      </div>
    </section>

    <section class="recent">
      <div class="article">
        <h1>Recent Articles</h1>
        <p>Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl porta vel, scelerisque ege</p>
      </div>
      <div class="container border-bottom pb-5">
        <div class="row">
          <div class="bun col-xl-3 col-12 col-sm-6 mt-5">
            <img src="https://gico.io/cyyo/03_Bread_bakery/images/resource/news-1.jpg" alt="" class="col-12">
             <div class="green-color"></div>
            <h5 class="mt-3">Food</h5>
            <h4>Why the Morning Bun Should Get Way More</h4>
            <p class="mt-3">MAY 5, 2020 BY MAHADI ISLAM</p>
            <a href="#">Read More
              <section class="grey mt-1">
                <section class="orange"></section>
              </section>
            </a>
          </div>
          <div class="bun col-xl-3 col-12 col-sm-6 mt-5">
            <img src="https://gico.io/cyyo/03_Bread_bakery/images/resource/news-2.jpg" alt="" class="col-12">
            <div class="green-color"></div>
            <h5 class="mt-3">IN THE NEWS</h5>
            <h4>FOOD 101: French Bread, Italian Bread, The Difference</h4>
            <p class="mt-3">MAY 5, 2020 BY MAHADI ISLAM</p>
            <a href="#">Read More
              <section class="grey mt-1">
                <section class="orange"></section>
              </section>
            </a>
          </div>
          <div class="bun col-xl-3 col-12 col-sm-6 mt-5">
            <img src="https://gico.io/cyyo/03_Bread_bakery/images/resource/news-3.jpg" alt="" class="col-12">
             <div class="green-color"></div>
            <h5 class="mt-3">NEWSLETTER</h5>
            <h4>Chicago-area deals and freebies for National Pi Day</h4>
            <p class="mt-3">MAY 5, 2020 BY MAHADI ISLAM</p>
            <a href="#">Read More
              <section class="grey mt-1">
                <section class="orange"></section>
              </section>
            </a>
          </div>
          <div class="bun col-xl-3 col-12 col-sm-6 mt-5">
            <img src="https://gico.io/cyyo/03_Bread_bakery/images/resource/news-4.jpg" alt="" class="col-12">
             <div class="green-color"></div>
            <h5 class="mt-3">RECIPE</h5>
            <h4>Dining news: New spots, Great Fermentation, holiday offerings</h4>
            <p class="mt-3">MAY 5, 2020 BY MAHADI ISLAM</p>
            <a href="#">Read More
              <section class="grey mt-1">
                <section class="orange"></section>
              </section>
            </a>
          </div>
        </div>
      </div>
      <div class="bottom container d-none d-lg-flex justify-content-evenly mt-5">
        <a href="#"><img src="https://gico.io/cyyo/03_Bread_bakery/images/clients/2.png" alt=""></a>
        <a href="#"><img src="https://gico.io/cyyo/03_Bread_bakery/images/clients/3.png" alt=""></a>
        <a href="#"><img src="https://gico.io/cyyo/03_Bread_bakery/images/clients/1.png" alt=""></a>
        <a href="#"><img src="https://gico.io/cyyo/03_Bread_bakery/images/clients/2.png" alt=""></a>
        <a href="#"><img src="https://gico.io/cyyo/03_Bread_bakery/images/clients/3.png" alt=""></a>
      </div>
    </section>

    <footer class="cyyo">
      <figure class="fig">
        <img src="https://gico.io/cyyo/03_Bread_bakery/images/icons/icon-2.png" alt="" class="fig1">
        <img src="https://gico.io/cyyo/03_Bread_bakery/images/icons/icon-3.png" alt="" class="fig2">
        <img src="https://gico.io/cyyo/03_Bread_bakery/images/icons/icon-4.png" alt="" class="fig3">
        <img src="https://gico.io/cyyo/03_Bread_bakery/images/icons/icon-5.png" alt="" class="fig4">
      </figure>
      <div class="container border-bottom">
        <div class="row">
          <section class="app col-lg-4 col-12 col-sm-6">
            <figure>
              <img src="https://gico.io/cyyo/03_Bread_bakery/images/logo.png" alt="...">
            </figure>
            <small class="text-white">Consectetur adipiscing elit. Ut blandit arcu in pretium molestie. Interdum et
              malesuada fames
              ac.</small>
            <div class="us d-flex justify-content-between mt-3">
              <p class="text-white">FOLLOW US :</p>
              <div class="log">
                <a href="#" class="me-4"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="me-4"><i class="fab fa-twitter"></i></a>
                <a href="#" class="me-4"><i class="fab fa-instagram"></i></a>
                <a href="#" class="me-5"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </section>
          <section class="app col-lg-2 col-12 col-sm-6">
            <h3 class="text-white">Useful Link</h3>
            <a href="#" class="d-block mt-4">About us</a>
            <a href="#" class="d-block mt-2">Membership</a>
            <a href="#" class="d-block mt-2">Item</a>
            <a href="#" class="d-block mt-2">Refund Policy</a>
            <a href="#" class="d-block mt-2">Contact us</a>
            <a href="#" class="d-block mt-2">Shop</a>
          </section>
          <section class="app col-lg-3 col-12 col-sm-6 week text-white">
            <h5>Friday: 09:00 – 23:00h</h5>
            <h5>Saturday: 09:00 – 16:00h</h5>
            <h5>Sunday: 12:00 – 18:00h</h5>
          </section>
          <section class="app col-lg-3 col-12 col-sm-6 text-white">
            <h3>Explore</h3>
            <h6 class="mt-4">Sebastian and Tony Lazzara221 W 38th St New York, NY 10018</h6>
            <h5 class="mt-4">CALL US 24/7</h5>
            <h3 class="call">Call: +1 123 345 678</h3>
          </section>
        </div>

      </div>
      <section class="end container mt-4">
        <p>Copyright ©2021 <a href="#">All rights reserved</a> </p>
        <figure> <img src="https://gico.io/cyyo/03_Bread_bakery/images/icons/cards.png" alt="">
        </figure>
      </section>
    </footer>
  </main>






  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
</body>

</html>